body{
	display: table;

}
div{
	width: 30%;
	background: #00ffff;
	display: table-cell;
	/*height: 400px;*/
	/*display: inline-block;*/
	/*float:;*/
	/*overflow: scroll;*/
}

p {
	border-width: 0px 3px;
	border-color: red;
	border-style: dotted solid;
}